body {
    background-color: pink;
}
h1 {
    text-align: center;
}

.gambar{
    width: 300px;
    float: left;
    margin-right: 10px;
}

/* Latihan 5 */
h1 {
    color: lightblue;
    font-family: 'Times New Roman';
    font-size: 50px;
    text-align: center;
}

p {
    text-indent: 30px;
    line-height: 1.5;
    font-size: 16px;
    color: royalblue;
    font-family: verdana;
}

li {
    color: cornflowerblue;
    font-size: 12px;
    font-family: cursive;
}

/* Latihan CSS */
a:link{
    color: midnightblue;
}
a:visited{
    color: green;
}
a:hover{
    color: orange;
}
a:active{
    color: darkcyan;
}

.button{
    border-radius: 5px;
    border: none;
    background-color: midnightblue;
    color: #FFFF;
    text-align: center;
    font-size: 28px;
}

.button:hover {
    background-color: orange;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}